@import url('./reset.css');
@import url('../fonts/Satoshi_Complete/Fonts/WEB/css/satoshi.css');

body {
    font-family: 'Satoshi-Light';
    font-size: 16px;
    font-weight: 400;

    color: #1A285D;
}

.main-wrapper {
    width: 73.125rem;
    margin: 0 auto;
}

.section-title {
    font-family: 'Nunito';
    font-size: 4rem;
    font-weight: 700;

    text-align: center;
    line-height: 4.81rem;
}

.section-title--gradient-text {
    background: linear-gradient(to right, #F79C64,#FFC226);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    color: transparent;
}

.display-mobile {
    display: none;
}

/* header */
header {
    position: relative;    
    color: white;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
}

.logo {
    margin-top: 2.187rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 6.25rem;
}

header h1 {
    font-family: 'Nunito';
    font-size: 4.81rem;
    font-weight: 800;

    text-align: center;
}

.header-content p {
    margin-top: 0.625rem;

    font-family: 'Satoshi-Regular';
    font-size: 1.25rem;
}

.header-content div {
    margin-top: 2.5rem;
}

.header--gradient-text {
    background: linear-gradient(to right, #F79C64,#FFC226);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    color: transparent;
}

.header-content > img {
    width: 60%;
    margin-top: 5rem;
}

/* feature section */
.feature-section {
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
    font-size: 1.25rem;
    overflow: hidden;
}

.feature-section .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-section .main-wrapper > p:nth-child(2) {
    margin-top: 1.5rem;
}

.feature-section article {
    position: relative;
    display: flex;
    margin-top: 5rem;
}

.feature-section article:nth-child(3)::before {
    content: "";

    position: absolute;
    top: -20%;
    left: -50%;

    width: 150%;
    height: 140%;

    background: radial-gradient(ellipse, #7D29FF 0%, white 60%);
    opacity: 12%;
    z-index: -1;
}

.feature-section article:nth-child(4)::before {
    content: "";

    position: absolute;
    top: -7%;
    right: -50%;

    width: 150%;
    height: 140%;

    background: radial-gradient(ellipse, #7C88EE 0%, white 60%);
    opacity: 26%;
    z-index: -1;
}

.feature-section article:last-child::before {
    content: "";

    position: absolute;
    top: -2%;
    left: -50%;

    width: 150%;
    height: 140%;

    background: radial-gradient(ellipse, #37B7FFCC 0%, white 60%);
    opacity: 20%;
    z-index: -1;
}

.feature-article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-article-content--manage {
    padding: 4.53rem 4.945rem 4.53rem 0;
}

.feature-article-content--discuss {
    padding: 7.97rem 6.31rem;
}

.feature-article-content--monetize {
    padding: 6.56rem 7.5rem 6.56rem 0;
}

.feature-section article h3 {
    font-family: 'Nunito';
    font-size: 2rem;
    font-weight: 700;
}

.feature-article-content p {
    margin-top: 1.25rem;
}

.feature-article-content--manage ~ img {
    width: 48%;
    object-fit: contain;
}

.feature-article-content--discuss-img {
    width: 42%;
    object-fit: contain;
}

a.article-content-button {
    display: flex;
    align-items: center;
    height: 2.62rem;
    width: fit-content;
    margin-top: 1.25rem;
    padding: 0 1.5rem; 

    border-radius: 8px;

    font-family: 'Nunito';
    font-size: 1.125rem;
    font-weight: 600;

    background-color: #FFC226;
}

.feature-article-content--monetize > div {
    display: flex;
    align-items: center;
}

.feature-article-content--monetize .gradient-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.82rem;
    height: 1.875rem;
    border-radius: 32px;

    font-family: 'Nunito';
    font-size: 0.9375rem;
    font-weight: 600;

    background: #fff;
    color: #333; /* Text color */
  }
  
.feature-article-content--monetize .gradient-border::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(to right, #8EE4FD, #7978EC,#8DE6FA);
    border-radius: inherit;
}

.feature-article-content--monetize ~ img {
padding: 3.125rem 8%;
}

/* advantages */
.advantage-section {
    padding: 9.375rem 0;
    background-color: #FAFBFF;
}

.special-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.advantage-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "article-a article-b image"
        "article-c article-d image";
    gap: 1.25rem;
    place-items: center;

    margin-top: 3rem;
}

.advantage-article-a {
    grid-area: article-a;
}

.advantage-article-b {
    grid-area: article-b;
}

.advantage-article-c {
    grid-area: article-c;
}

.advantage-article-d {
    grid-area: article-d;
}

.advantage-image {
    grid-area: image;
    width: 100%;
    margin-left: 1.25rem;
}

.advantage-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1.875rem 3.125rem 1.56rem 3.125rem;

    border-radius: 30px;
    background-color: white;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.advantage-article:hover {
    color: white;
    background-color: #782CFF;
    box-shadow: 0px 12px 25px rgba(104, 95, 247, 0.09);
}

.advantage-article p:first-child {
    font-size: 3rem;
}

.advantage-article h4 {
    font-family: 'Nunito';
    font-size: 1.25rem;
    font-weight: 700;

    text-align: center;
    transition: color 0.5s ease;
}

.advantage-article p:last-child {
    margin-top: 0.5rem;
    text-align: center;
    transition: color 0.5s ease;
}

/* subscription */
.subscription-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40.375rem;
    padding: 10rem 0;

    color: white;

    background-image: url('../images/cta-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subscription-section p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    text-align: center;
}

.subscribe-input {
    display: flex;
    justify-content: center;
    margin-top: 3.75rem;
    font-family: 'Nunito';
    font-size: 1.125rem;

    color: #1A285D;
}

.subscribe-input-content {
    display: flex;
    width: 470px;
}

.subscribe-input-content input {
    width: 362px;
    height: 57px;
    padding: 0 1.5rem;

    border-radius: 12px;
}

.subscribe-input-content input::placeholder {
    font-family: 'Nunito';
    font-size: 1.125rem;
    font-weight: 400;

    color: #1A285D;
}

.subscribe-button {
    width: 129px;
    height: 100%;
    margin-left: -20px;

    border-radius: 12px;

    font-weight: 700;
    
    background-color: #FFC226;

    transition: color 0.5s ease, background-color 0.5s ease;
}

.subscription-button-success {
    color: white;
    background-color: #2FB551;
}


/* footer */
footer {
    padding: 5rem 0;

    color: white;
    background: linear-gradient(to right, #782CFF, #A219FF);;
}

footer .main-wrapper p:nth-child(2) {
    font-weight: 500;
}

footer .main-wrapper div:nth-child(3) {
    margin-top: 2rem;
}

footer .main-wrapper div:nth-child(3) img:first-child {
    margin-right: 1.25rem;
}

footer .main-wrapper div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

footer .main-wrapper div:nth-child(4) div:first-child {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

footer .main-wrapper div:nth-child(4) div:first-child span:last-child {
    position: relative;
    padding-left: 0.5rem;
}


footer .main-wrapper div:nth-child(4) div:first-child span:last-child::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -4px;
    width: 8px;
    height: 8px;

    border-radius: 50%;

    background-color: #52BD94;
}

/* Privacy policy */
.privacy-policy, .privacy-policy h1 {
    color: #1A285D;
}

.privacy-policy h1 {
    font-family: Nunito;
    font-size: 4rem;
}

.privacy-policy header .main-wrapper > div {
    display: flex;
    align-items: center;
    padding-top: 9.375rem;
}

.privacy-policy header a {
    height: fit-content;
    margin-right: 2rem;
}

.privacy-policy main {
    padding: 1.5rem 0 6.75rem 0;
}

.privacy-policy h2 {
    font-family: Nunito;
    font-size: 2rem;
}

.privacy-policy p.subtitle {
    font-family: Satoshi-Bold;
    font-size: 1.125rem;
}

.privacy-policy p {
    font-family: Satoshi-Light;
}

.privacy-policy main a {
    text-decoration: underline;
}

/* Desktop styles */
@media screen and (min-width: 2560px) {
    .header-content > img {
        width: 89%;
    }
}

@media screen and (max-width: 1280px) {
    .main-wrapper {
        width: 70rem;
    }
}

@media screen and (max-width: 1200px) {
    .main-wrapper {
        width: 56rem;
    }

    footer .main-wrapper div:nth-child(4) div:first-child {
        width: 43%;
    }
}

/* Tablet styles */
@media screen and (max-width: 1024px) {
    .advantage-section-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "article-a article-b" 
        "article-c article-d"
        "image image";
    }

    .advantage-image {
        margin-top: 1.25rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 992px) {
    .main-wrapper {
        width: 50rem;
    }

    .image-section > img {
        width: 70%;
    }
}


@media screen and (max-width: 810px) {
    .main-wrapper {
        width: 45rem;
    }

    .image-section {
        margin-top: -55%;
    }
}

@media screen and (max-width: 800px) {
    .main-wrapper {
        width: 43rem;
    }

    footer .main-wrapper div:nth-child(4) div:first-child {
        width: 53%;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .display-mobile {
        display: block;
        width: 100%;
    }

    .display-desktop {
        display: none;
    }

    .main-wrapper {
        padding: 0 1rem;
        width: 100%;
    }

    /* header */
    .logo {
        width: 5.8rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    .header-content > img {
        width: 96%;
        margin-top: 3.75rem;
    }

    .header-content p {
        text-align: center;
    }

    /* feature-section */
    .feature-section {
        padding-top: 5rem;
        padding-bottom: 4rem;
    }

    .feature-section article {
        margin-top: 3rem;
    }

    .section-title {
        font-size: 3rem;
        text-align: left;
        line-height: 43.65px;
    }

    .feature-section .main-wrapper > p:nth-child(2) {
        text-align: justify;
    }

    .feature-article-content--manage,
    .feature-article-content--discuss,
    .feature-article-content--monetize {
        padding: 0;
    }

    /* advantage-section */
    .advantage-section {
        padding: 4rem 0 0 0;
    }

    .advantage-section-content {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "article-a"
            "article-b"
            "article-c"
            "article-d";
    }

    /* subscription-section */
    .subscription-section {
        padding: 7.5rem 0;
    }

    .subscription-section .section-title {
        font-size: 2rem;
    }

    .subscription-section p {
        text-align: justify;
    }

    .subscribe-input {
        justify-content: start;
    }

    .subscribe-input-content {
        flex-direction: column;
        justify-content: space-between;
        height: 152px;
        width: 100%;
    }

    .subscribe-input-content input {
        width: 100%;
        height: 68px;
    }

    .subscribe-button {
        width: 100%;
        height: 68px;
        margin-left: 0;
    }

    /* footer */
    footer .main-wrapper div:nth-child(4) {
        flex-direction: column;
        align-items: center;
    }

    footer .main-wrapper div:nth-child(4) div:first-child {
        width: 100%;
    }

    footer .main-wrapper div:nth-child(4) > span {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 414px) {
    .header-background {
        height: 105vh;
    }

    .header-content > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-content > div img {
        margin: 0;
    }
}

@media screen and (max-width: 390px) {
    .header-content > div a:first-child img {
        width: 155px;
    }

    .header-content > div a:last-child img {
        width: 170px;
    }
}

