@import url('./reset.css');

body {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;

    color: #1A285D;
}

.main-wrapper {
    width: 73.125rem;
    margin: 0 auto;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;

    text-align: center;
    line-height: 4.81rem;
}

.section-title--gradient-text {
    background: linear-gradient(to right, #F79C64,#FFC226);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    color: transparent;
}

/* header */
header {
    height: 1080px;

    color: white;

    background-image: url('../images/Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    padding-top: 1.875rem;

    font-size: 2.5rem;
    font-weight: 900;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    margin-top: 6.25rem;

    font-size: 1.25rem;
    font-weight: 500;
}

header h1 {
    font-size: 4.875rem;
}

.header--gradient-text {
    background: linear-gradient(to right, #FA709A,#FDCF01);
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text;
    color: transparent;
}

/* image section */
.image-section {
    display: flex;
    justify-content: center;
    margin-top: -32rem;
}

.image-section > img {
    height: 53.125rem;
}

/* feature section */
.feature-section {
    padding-top: 9.375rem;
    padding-bottom: 6.25rem;
    font-size: 1.25rem;
}

.feature-section .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-section article {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.feature-article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-article-content--manage {
    padding: 4.53rem 4.945rem 4.53rem 0;
}

.feature-article-content--discuss {
    padding: 7.97rem 6.31rem;
}

.feature-article-content--monetize {
    padding: 6.56rem 7.5rem 6.56rem 0;
}

.feature-section article h3 {
    font-size: 2rem;
    font-weight: 700;
}

.article-content-button {
    width: 15.125rem;
    height: 2.62rem;

    border-radius: 8px;

    font-size: 1.125rem;
    font-weight: 600;

    background-color: #FFC226;
}

.feature-article-content--monetize > div {
    display: flex;
    align-items: center;
}

.feature-article-content--monetize .gradient-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.82rem;
    height: 1.875rem;
    border-radius: 32px;

    font-size: 0.9375rem;

    background: #fff;
    color: #333; /* Text color */
  }
  
.feature-article-content--monetize .gradient-border::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(to right, #8EE4FD, #7978EC,#8DE6FA);
    border-radius: inherit;
}

.feature-article-content--monetize ~ img {
padding: 3.125rem 7.75rem;
}

/* advantages */
.advantage-section {
    padding: 9.375rem 0;
    background-color: #FAFBFF;
}

.special-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 101.25rem;
    margin: 0 auto;
}

.advantage-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "article-a article-b image"
        "article-c article-d image";
    gap: 1.25rem;

    margin-top: 3rem;
}

.advantage-article-a {
    grid-area: article-a;
}

.advantage-article-b {
    grid-area: article-b;
}

.advantage-article-c {
    grid-area: article-c;
}

.advantage-article-d {
    grid-area: article-d;
}

.advantage-image {
    grid-area: image;
    width: 100%;
    margin-left: 1.25rem;
}

.advantage-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem 3.125rem 1.56rem 3.125rem;

    border-radius: 30px;
    background-color: white;
}

.advantage-article p:first-child {
    font-size: 3rem;
}

.advantage-article h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.advantage-article p:last-child {
    margin-top: 0.5rem;
    text-align: center;
}

/* subscription */
.subscription-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40.375rem;
    padding: 10rem 0;

    color: white;

    background-image: url('../images/Rectangle\ 22497.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subscription-section p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

.subscribe-input {
    display: flex;
    width: 470px;
    height: 68px;
    margin-top: 3.75rem;

    color: #1A285D;
}

.subscribe-input input {
    width: 362px;
    height: 100%;
    padding-left: 1.5rem;

    border-radius: 12px;
}

.subscribe-input input::placeholder {
    font-size: 1.125rem;
}

.subscribe-button {
    width: 129px;
    height: 100%;
    margin-left: -20px;

    border-radius: 12px;

    font-size: 1.125rem;
    
    background-color: #FFC226;
}


/* footer */
footer {
    padding: 5rem 0;

    background: linear-gradient(to right, #782CFF, #A219FF);;
}
